@import "./loginscreen";
@import "./transactionscreen";
@import './register';
@import './gapreason';
@import './production_dashboard';
@import './hourly_dashboard';


.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    //    background:$bgWhiteShade;
    background: #eee;
    min-height: 100vh;
    overflow: auto;
}

.main-layout {
    width: 85%;
}

.content-wrapper {
    padding: 25px 25px;
    position: relative;

}